<section class="patient-form-container">

  <form
    class="patient-form"
    [formGroup]="patientForm"
    (ngSubmit)="onSubmit()"
  >

    <div class="form-content">

      <!-- Registration Date & Time -->

      <div class="form-field">

        <label for="registrationDate">
          Registration Date & Time *
        </label>

        <input
          id="registrationDate"
          type="datetime-local"
          formControlName="registrationDate"
        />

      </div>


      <!-- First Name -->

      <div class="form-field">

        <label for="firstName">
          First Name *
        </label>

        <input
          id="firstName"
          type="text"
          formControlName="firstName"
          placeholder="Enter first name"
          maxlength="50"
          autocomplete="off"
          (input)="normalizeName('firstName')"
        />

        @if (f['firstName'].touched && f['firstName'].invalid) {

          <div class="validation-message">

            @if (f['firstName'].hasError('required')) {
              First Name is required.
            }

            @else if (f['firstName'].hasError('minlength')) {
              First Name must be at least 2 characters.
            }

            @else if (f['firstName'].hasError('pattern')) {
              First Name must contain only alphabets and spaces.
            }

          </div>

        }

      </div>


      <!-- Last Name -->

      <div class="form-field">

        <label for="lastName">
          Last Name
        </label>

        <input
          id="lastName"
          type="text"
          formControlName="lastName"
          placeholder="Enter last name (optional)"
          maxlength="50"
          autocomplete="off"
          (input)="normalizeName('lastName')"
        />

      </div>


      <!-- Gender -->

      <div class="form-field">

        <label>
          Gender *
        </label>

        <div class="radio-group gender-group">

          @for (option of genderOptions; track option.value) {

            <label class="radio-option">

              <input
                type="radio"
                formControlName="gender"
                [value]="option.value"
              />

              <span>
                {{ option.label }}
              </span>

            </label>

          }

        </div>

        @if (f['gender'].touched && f['gender'].invalid) {

          <div class="validation-message">
            Please select gender.
          </div>

        }

      </div>


      <!-- Age -->

      <div class="form-field">

        <label for="age">
          Age *
        </label>

        <input
          id="age"
          type="number"
          formControlName="age"
          placeholder="Enter age"
          min="1"
          max="120"
        />

        @if (f['age'].touched && f['age'].invalid) {

          <div class="validation-message">

            @if (f['age'].hasError('required')) {
              Age is required.
            }

            @else {
              Age must be between 1 and 120.
            }

          </div>

        }

      </div>


      <!-- Mobile Number -->

      <div class="form-field">

        <label for="mobile">
          Mobile Number *
        </label>

        <input
          id="mobile"
          type="tel"
          formControlName="mobile"
          placeholder="10-digit mobile number"
          maxlength="10"
          inputmode="numeric"
          autocomplete="off"
          (input)="normalizeMobile()"
        />

        @if (f['mobile'].touched && f['mobile'].invalid) {

          <div class="validation-message">

            @if (f['mobile'].hasError('required')) {
              Mobile number is required.
            }

            @else {
              Enter a valid 10-digit mobile number.
            }

          </div>

        }

      </div>


      <!-- Address -->

      <div class="form-field">

        <label for="address">
          Address *
        </label>

        <textarea
          id="address"
          formControlName="address"
          placeholder="Enter address"
          rows="3"
          maxlength="255"
        ></textarea>

        @if (f['address'].touched && f['address'].invalid) {

          <div class="validation-message">
            Please enter a valid address.
          </div>

        }

      </div>


      <!-- Referred By -->

      <div class="form-field">

        <label>
          Referred By *
        </label>

        <div class="radio-group referral-group">

          @for (option of referredByOptions; track option.value) {

            <label class="radio-option">

              <input
                type="radio"
                formControlName="referredBy"
                [value]="option.value"
              />

              <span>
                {{ option.label }}
              </span>

            </label>

          }

        </div>

        @if (f['referredBy'].touched && f['referredBy'].invalid) {

          <div class="validation-message">
            Please select Referred By.
          </div>

        }

      </div>


      <!-- Doctor Name -->

      @if (isDoctorReferral) {

        <div class="form-field">

          <label for="doctorName">
            Doctor Name *
          </label>

          <input
            id="doctorName"
            type="text"
            formControlName="doctorName"
            placeholder="Enter doctor name"
            maxlength="100"
            autocomplete="off"
          />

          @if (f['doctorName'].touched && f['doctorName'].invalid) {

            <div class="validation-message">
              Please enter a valid Doctor Name.
            </div>

          }

        </div>

      }


      <!-- Consultation Fee -->

      <div class="form-field">

        <label for="consultationFee">
          Consultation Fee *
        </label>

        <input
          id="consultationFee"
          type="number"
          formControlName="consultationFee"
          placeholder="Enter consultation fee"
          min="0"
          step="0.01"
        />

        @if (
          f['consultationFee'].touched &&
          f['consultationFee'].invalid
        ) {

          <div class="validation-message">
            Enter a valid consultation fee.
          </div>

        }

      </div>

    </div>


    <!-- Footer -->

    <div class="form-footer">

      <button
        type="submit"
        class="submit-button"
        [disabled]="loading"
      >

        @if (loading) {

          <span class="button-loader"></span>

        } @else {

          {{ submitLabel }}

        }

      </button>

    </div>

  </form>

</section>